@import "media-queries";

%align-center {
  display: flex;
  align-items: center;
}

.navbar {
  background-color: #096446;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    color: whitesmoke;
    text-decoration: none;
    font-size: 2rem;
    @include mobile {
      font-size: 1.5rem;
    }
  }
}
