:root {
  --text: #000000d6;
  --darkBlue: #0a2d34;
  --yellow: #ead637;
  --lightBlue: #3cbcca;
  --medium: 500;
  --white: #ffffff;
  --lightestGrey: #fffbfc;
  --orange: #ff6b6c;
}

@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap");

/* General */

.row {
  margin: 0px;
  justify-content: center;
}

.pageHeaderFix {
  position: fixed;
  width: 100%;
  z-index: 9;
  background: var(--white);
  filter: drop-shadow(2px 4px 6px black);
}

.pageHeader {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0.5rem;
  font-size: 2rem;
  z-index: 5;
  color: var(--lightestGrey);
  background-color: var(--darkBlue);
}

.headerTitle {
  font-size: 1.3rem;
}

.footer {
  margin-top: 1rem !important;
  padding: 1rem !important;
  background-color: var(--darkBlue);
  color: var(--white);
  font-size: 0.9rem;
  line-height: 1.8rem;
  text-align: center;
  letter-spacing: 0.5px;
}

a {
  color: var(--lightBlue);
}
